@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62,5%; }

header {
  background-image: linear-gradient(#929292, white);
  padding-bottom: 3vw; }
  header .header__titulo {
    text-align: center;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
    font-weight: 700; }
    header .header__titulo h1 {
      font-size: 3.5vw; }
  header .header__nav {
    justify-content: center;
    text-align: center; }
  header .header__iconos {
    display: inline-block;
    justify-items: right; }
    header .header__iconos .header__iconos--insta {
      border: none;
      background-color: transparent;
      font-size: 1.5vw;
      color: #c900c9; }
    header .header__iconos .header__iconos--wapp {
      border: none;
      background-color: transparent;
      font-size: 1.5vw;
      color: #08da08; }

main .menu__carousel {
  justify-content: center;
  padding-bottom: 2vw; }
  main .menu__carousel img {
    width: 30vw;
    height: 45vw; }

main .main__titulo {
  grid-area: titulo;
  text-align: center;
  padding-bottom: 1vw; }

main .main__iphone {
  text-align: center; }
  main .main__iphone img {
    height: 26vw;
    width: 29vw; }

main .main__mac {
  text-align: center; }
  main .main__mac img {
    height: 26vw;
    width: 29vw; }

main .main__acc {
  text-align: center; }
  main .main__acc img {
    height: 26vw;
    width: 29vw; }

main .vermas {
  text-align: center;
  justify-content: center;
  justify-items: center;
  padding: 2vw 0vw 2vw 0vw; }

main .main__texto {
  text-align: center;
  padding-top: 3vw; }
  main .main__texto p {
    padding: 2vw 20vw 5vw 20vw; }

footer {
  background-image: linear-gradient(white, #929292);
  padding: 5vw 5vw; }
  footer .footer__section {
    text-align: center;
    padding-bottom: 2vw; }
    footer .footer__section .footer__titulo {
      font-family: 'Dancing Script', cursive;
      font-size: 2vw; }
    footer .footer__section li {
      list-style-type: none;
      padding-bottom: 1vw; }
  footer .pag {
    display: block; }
