.main__contacto-titulo{
    background-color: black;
    color: white;
    justify-content: center;
    text-align: center;
}
.main__contacto-subtitulo{
    margin-top: 1vw;
    color: white;
    background-color: rgb(177, 177, 177);
    text-align: center;
}
.boton{
    background-color: rgb(146, 146, 146);
}