.main__preguntas{
    .main__preguntas-titulo{
        color: white;
        background-color: black;
        text-align: center;
        margin-bottom: 2vw;
    }
    .main__preguntas-div{
        text-align: center;
        padding: 1vw;
    }
}